# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/

# Environment variables
.env

# Logs
*.log 

images/*
images2/*
images3/* 
*.json

.scrapy/*

recipe_index/
*.tgz
